
<button (click)="refreshTable()" type="button" class="btn btn-light refresh-button">Refresh</button> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Creation Date</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
              
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of products">
            <td>{{item.name}}</td>
            <td>{{item.creationDate | date:'M/d/yyyy, h:mm a'}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price}}</td>
            <td>
            <button (click)="updateProduct(item)" type="button" class="btn btn-success action-button">Edit</button>
            <button (click)="delete(item.id)" type="button" class="btn btn-danger action-button">Delete</button> 
            </td>
        </tr>
    </tbody>
</table>

 
<form>
  <div class="col-md-9">
  <div class="form-group">
    <div class="input-group-prepend">
      <label class="input-group-text">Name:</label>
    </div>
    <input type="text" [(ngModel)]="newProduct.name" class="form-control" name="name">  
  </div>
  <div class="form-group">
    <div class="input-group-prepend">
      <label class="input-group-text">Description:</label>
    </div>
    <input type="text" [(ngModel)]="newProduct.description" class="form-control" name="description">  
  </div>
  <div class="form-group">
    <div class="input-group-prepend">
      <label class="input-group-text">Price:</label>
    </div>
    <input type="text" [(ngModel)]="newProduct.price" class="form-control" name="price"> 
  </div>
  <div class="form-group">
    <button class="btn btn-success" (click)="addProduct()">Add product</button>
  </div>
</div>
 
</form>
 
  
  

  