      <mat-sidenav-container class="example-container">
            <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
                    <mat-toolbar color="primary" >
                            <span>Admin menu</span>
                    </mat-toolbar>
                    <mat-nav-list>
                            <a mat-list-item [routerLink]="'/admin/client'"> Clients </a>
                            <a mat-list-item [routerLink]="'/admin/product'"> Products</a>
                            <a mat-list-item (click)="closeSidebar()"  mat-list-item>Close</a>
                          </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>                  
              <mat-toolbar color="primary" >
                  <div (click)="opened = !opened"  style="margin: 10px; "> 
                        <i [hidden]="!opened" class="material-icons">arrow_back_ios</i>
                        <i [hidden]="opened" class="material-icons">arrow_forward_ios</i>
                  </div>
                    <span>Admin layout header</span>
                    <span class="example-fill-remaining-space"></span>
                    <button mat-button [routerLink]="'/login'">Login</button>
            </mat-toolbar>

              <div class="basic-container">
                  <router-outlet></router-outlet>
              </div>
            </mat-sidenav-content>
          </mat-sidenav-container>



 

<!-- <mat-drawer-container class="example-container mat-typography" autosize>
        <mat-drawer #drawer mode="side" disableClose="true" opened="true">
          <button mat-mini-fab (click)="opened = !isExpanded" color="warn" style="margin: 10px;">
            <mat-icon aria-label="Menu">menu</mat-icon>
          </button>
      
          <mat-nav-list>
            <mat-list-item>
              <mat-icon mat-list-icon>person</mat-icon>
              <h4 mat-line >Management A</h4>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>assignment</mat-icon>
              <h4 mat-line  >Management B</h4>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>domain</mat-icon>
              <h4 mat-line  >Management C</h4>
            </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon>folder_shared</mat-icon>
              <h4 mat-line  >Management X</h4>
            </mat-list-item>
          </mat-nav-list>
        </mat-drawer>
      
        <div class="example-sidenav-content">
          You cards and screen Contents goes here..
          Will be pushed towards right on expanding side navbar.
        </div>
      </mat-drawer-container> -->