<form>
    <div class="col-md-9">
    <div class="form-group">
      <div class="input-group-prepend">
        <label class="input-group-text">Name:</label>
      </div>
      <input type="text" [(ngModel)]="editedProduct.name" class="form-control" name="name">  
    </div>
    <div class="form-group">
      <div class="input-group-prepend">
        <label class="input-group-text">Description:</label>
      </div>
      <input type="text" [(ngModel)]="editedProduct.description" class="form-control" name="description">  
    </div>
    <div class="form-group">
      <div class="input-group-prepend">
        <label class="input-group-text">Price:</label>
      </div>
      <input type="text" [(ngModel)]="editedProduct.price" class="form-control" name="price"> 
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="updateProduct()">Update product</button>
      <button class="btn btn-success ml-3" (click)="goBack()">Back to list</button>
    </div>
  </div>
   
  </form>
